@font-face {
  font-family: 'Gothic_Goding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gothic_Goding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Gothic_Goding';
}

main h1 {
  color: rgb(75, 108, 255);
}

p,
li {
  font-size: 25px;
}
