@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

body {
  background-color: aliceblue;
}

/* header */
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: aquamarine;
  height: 5rem;
  align-items: center;
  padding: 1rem;
}

.header__left {
  text-align: left;
}

.header__middle {
  text-align: center;
}

.header__middle h1 {
  font-size: 1.5rem;
}

.header__right {
  text-align: right;
}

/* main */
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/* filter */
.filter {
  padding: 1rem;
}

.filter-form {
  display: grid;
  gap: 0.5rem;
}

.filter-form__row {
  height: 5rem;
  display: grid;
  grid-template-columns: minmax(8rem, auto) 3fr;
}

/* 3 item grid */
.filter-form__row--three-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* 2 item grid */
.filter-form__row--two-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* label */
.filter-form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #dfdfdf;
  font-size: 1.2rem;
  font-weight: 600;
}

/* input, select */
.filter-form__input,
.filter-form__select {
  background-color: #fff;
  padding: 0.5rem;
}

/* form action button */
.filter-form__actions {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 4rem;
  gap: 1rem;
}

.filter-form__actions button {
  border-radius: 3rem;
  font-weight: 600;
  color: #fff;
}

.filter-form__action--reset {
  background-color: #ffd146;
}

.filter-form__action--submit {
  background-color: #af7e00;
}

/* members */

.members {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.members__actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.members__actions button {
  border-radius: 3rem;
  color: #fff;
  padding: 1rem;
  font-weight: 600;
}

.members__actions--delete {
  background-color: #ffd146;
}

.members__actions--add {
  background-color: #af7e00;
}

/* table */
.members-table__head th,
.members-table__body td {
  padding: 12px; /* 셀 내부 여백 */
  border: 1px solid #936501; /* 셀 경계 색상 (여기서는 초록색으로 설정) */
  text-align: center;
  vertical-align: middle; /* 수직 중앙 정렬 */
}

.members-table th {
  background-color: #af7e00;
  color: #fff;
}

.members-table__body td {
  background-color: #fff;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal__container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 50rem;
  background-color: white;
  border-radius: 3rem;
  gap: 2rem;
}

.modal__header {
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
}

.modal__row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__label {
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__input,
.modal__select {
  border: 1px solid #7a7a7a;
  height: 3rem;
}

.modal__btn {
  width: 100%;
  height: 3rem;
  color: #fff;
  font-weight: 700;
  background-color: #936501;
}
